html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* CSS */
#webgl-container {
  position: relative;
  width: 100%;
  height: 100%;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

#gui {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  width: 600px;
  height: 100px;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
}

.icon-button img {
  width: 50px;
  height: 50px;
}

.icon-clicked {
  border: 2px solid red;
}